/* 
=============== 
Estilos globales
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c) !important;
  color: hsl(209, 61%, 16%);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
}

/*
=============== 
Card 1
===============
*/
.section-title {
  text-align: center;
  margin: 4rem 0 6rem 0;
}
.card {
  width: 90vw;
  margin: 4rem auto;
  background: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.card:hover {
  transform: scale(1.01, 1.01);
}
.card img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
}

.card-1 {
  max-width: 446px;
  text-align: center;
  padding-bottom: 3.5rem;
}
.card-1 header {
  height: 197px;
  background: url("./images/navespacial.jpg") center/cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.card-1 img {
  border: 5px solid #fff;
  margin-top: -65px;
  margin-bottom: 0.5rem;
}
.card-1 h4 {
  font-size: 22px;
}
.card-1 p {
  margin-bottom: 2rem;
  font-size: 18px;
  padding: 0 2rem;
  color: hsl(209, 34%, 30%);
}
.card-1 a {
  text-decoration: none;
  color: #fff;
}

.Icons {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}
.Icons__socialIcon {
  padding-left: 1rem;
  font-size: 2rem;
  color: rgb(175, 120, 0) !important;
}
.Icons__socialIcon:hover {
  color: rgb(7, 7, 7) !important;
  transform: scale(1.1, 1.1);
}
/* facebus */

/*  */

.btn {
  padding: 1rem 2rem;
  letter-spacing: 1.6px;
  font-size: 1rem;
  color: #fff;
  background: #141f64;
  border-radius: 0.25rem;
  border-color: transparent;
  text-transform: uppercase;
  transition: all 0.3s linear;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
  transform: scale(1.1, 1.1);
}
